/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
scroll-behavior: smooth;
}
body {
  font-family: "Manrope", "Corbel", "Segoe UI", sans-serif;
}
/*button*/
/*Все кнопки круглые, есть прозрачные с бордером, есть синие.*/
/*Синяя*/
.buttons-general {
  border-radius: 50px;
  font-family: Corbel;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: none;
  background: none;
}
.buttons-general:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
}
.button-blue-style {
  background: #0071e3;
  border: 1px solid #0066cc;
  color: white;
}
.button-blue-style:hover {
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
  color: #0071e3;
  border: 1px solid #0066cc;
}
/*C синим бордером*/
.button-border-style {
   background: rgba(255, 255, 255, 0.1);
  border: 1px solid #0066cc;
  color: #0066cc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}
.button-border-style:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}
/*Белые*/
.button-white-style {
  background: #f5f5f7;
  border: 1px solid #f5f5f7;
  color: #000000;
}
.button-white-style:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #f5f5f7;
}
/*Нет фона*/
.button-not-background{
  background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
  border: 1px solid white;
gap: 6px;
color: white;
font-weight: bold;
-webkit-text-stroke: 1px #0000008F;
text-shadow: -1px -1px 0 #0000008F, 1px -1px 0 #0000008F, -1px 1px 0 #0000008F, 1px 1px 0 #0000008F;
padding: 8px 15px;
}
.button-not-background:hover{
border: 1px white solid;
background: white;
color: #000000;
text-shadow: none;
}
.button-not-background:hover svg{
  fill: #000000;
}
.buttons-size130 {
  width: 130px;
  height: 44px;
  font-size: 17px;
}
.buttons-size170 {
  width: 169px;
  height: 44px;
}
.buttons-size179-1,
.buttons-size179-2{
  width: 179px;
  height: 65px;
  font-size: 32px;
}
.buttons-size113{
  width: 113px;
  height: 24px;
  font-size: 12px;
}
/*Хлебные крошки*/
.header-dop,
.header-dop-breadcrumbs,
.header-dop-anchor,
.header-dop-buttons,
.header-dop-wrapper{
  display: flex;
  flex-direction: row;
}
.header-dop-wrapper{
  gap: clamp(10px, calc(26.846vw + -196.17px), 50px);
}
.header-dop{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: clamp(10px, calc(26.846vw + -196.17px), 50px);;
}

.header-dop-anchor a,
.header-dop-name{
color: #000000;
}
.header-dop-name{
font-family: Corbel;
font-weight: 700;
font-size: 19.36px;
line-height: 24px;
letter-spacing: 0.23px;
vertical-align: middle;
}
.header-dop-breadcrumbs{
  color: #0000008F;
}
.header-dop-breadcrumbs,
.header-dop-anchor{
  font-family: Corbel;
font-weight: 400;
font-size: 12px;
line-height: 22px;
letter-spacing: -0.12px;
vertical-align: middle;
}
.header-dop-anchor{
gap: 27px;
}
.header-dop-buttons{
  gap: 25px;
}
.buttons-header{
  color: #9494aa8f;
}
/*ПопАп*/
/* Общий контейнер */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  align-items: center;
  justify-content: center;
}

/* Затемнение фона */
.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* Контейнер модального окна */
.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  width: 800px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

/* Закрывающая кнопка */
.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: transparent;
  border: none;
  font-size: 32px;
  line-height: 1;
  cursor: pointer;
}

/* Контентная часть */
.modal-body {
  padding: 40px 20px;
  overflow-y: auto;
  flex-grow: 1;
}

/* Пример для видео */
.modal-body iframe,
.modal-body video {
  width: 100%;
  height: auto;
  border: none;
  display: block;
}

/**/
.after-quest .slider-wrapper,
.after-quest .swiper-wrapper{
  margin-top: 20px;
}
.after-slide-image-wrapper550 {
 /* width: 550px !important;*/
  height: 550px;
  width: clamp(462px, calc(7.639vw + 403.33px), 550px);
  /*height: clamp(462px, calc(7.639vw + 403.33px), 550px);*/
  overflow: hidden;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 20px;
}
.after-slide-image-wrapper550 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}
.page-dop-obor.after-quest .after-slide-image-wrapper550{
    width: 412px;
    height: 412px;
    display: flex;
    justify-content: center;
}
/*Кнопки слайдера*/
.after-slider-buttons-wraper{
  margin-top: 40px;
  min-height: 47px;
  position: relative;
  margin-right: 120px;
}
.after-slider-buttons-wraper .swiper-button-next, 
.after-slider-buttons-wraper .swiper-button-prev{
    width: 36px;
    height: 36px;
    background-color: #D2D2D7A3;
    border-radius: 50%;
}
.after-slider-buttons-wraper .swiper-button-prev, 
.swiper-rtl .swiper-button-next{
    left: auto;
    right: 60px;
}





/*Подробнее в акциях*/
.tooltip-box {
  position: absolute;
  background: #222;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  max-width: 300px;
  line-height: 1.4;
  z-index: 9999;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.tooltip-box.visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
/*140 price, 160 mesta, 200 kvadro/kvest, */
/*h1*/
.banner-top h1{
    color: #FFFFFF;
    font-family: Manrope !important;
    font-weight: 800 !important;
    font-size: clamp(58px, calc(6.597vw + 13.33px), 100px) !important;
    line-height: clamp(60px, calc(5.208vw + 20.00px), 120px) !important;
    letter-spacing: -0.28px !important;
    text-align: center !important;
    vertical-align: middle;
}
.banner-top{
    position: relative;
    color: #ffffff;
    font-family: Manrope;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
}
.banner-top .banner-top-description,
.banner-top .banner-top-buttons-wrapper,
.banner-top .page-banner-price,
.banner-top .page-banner-price-description{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.banner-top.liner.page-banner-one .banner-top-description {
    font-size: clamp(27px, calc(8.696vw + -39.78px), 37px);
    line-height: clamp(27px, calc(13.527vw + -76.88px), 37px);
    max-width: 90%;
}
.banner-top-description{
    bottom: 262px; 
    font-size: clamp(27px, calc(8.696vw + -39.78px), 45px);
    line-height: clamp(27px, calc(13.527vw + -76.88px), 55px); 
    max-width: 90%;
    
}
.banner-top-buttons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.76%;
    bottom: 173px;
}
.banner-top .page-banner-price{
  font-size: clamp(14px, calc(7.729vw + -45.36px), 30px);    
  bottom: 97px;
}
.page-banner-price-description{
  bottom: 27px;
}

