@media (max-width: 576px) {
  /**/
  .main-banner,
  .banner-top {
    height: 600px !important;
  }
  .main-banner-background {
    height: clamp(413px, calc(22.321vw + 341.57px), 513px) !important;
  }
  .main-banner-text-wrapper .page-banner-buttons-wrapper {
    margin-top: 75px !important;
  }
  .main-banner-text-wrapper h1,
  .banner-top h1 {
    font-size: clamp(24px, calc(8.929vw + -4.57px), 64px) !important;
    line-height: clamp(28px, calc(7.143vw + 5.14px), 60px) !important;
  }
  .page-banner-description,
  .banner-top-description   {
    font-size: clamp(20px, calc(3.795vw + 7.86px), 37px);
    line-height: 120%;
  }
  .banner-top.liner.page-banner-one .banner-top-description{
    font-size: clamp(20px, calc(3.795vw + 7.86px), 37px);
    line-height: 120%;
    bottom: 30%;
  }
  /**/
  .after-slider-buttons-wraper,
  .after-slider-vip-buttons, .faq-slider-controls, .book-slider-buttons{
    margin-right: 20px;
  }
  .after-quest .after-slide{
    width: clamp(300px, calc(63.281vw + 97.50px), 462px);
    padding: 0 clamp(10px, calc(3.906vw + -2.50px), 20px);
  }
  /*
  .after-slide img{
     width: clamp(300px, calc(63.281vw + 97.50px), 462px);
  }*/
  
  .page-stsenarii .after-slide-image-wrapper550,
  .page-stsenarii .after-slide img,
  .page-dop-obor .after-slide-image-wrapper550,
  .page-dop-obor .after-slide img,
  .page-after-try .after-slide-image-wrapper550,
  .page-after-try .after-slide img{
    width: auto !important;
  }
  .page-stsenarii .after-slide-image-wrapper550,
  .page-dop-obor .after-slide-image-wrapper550,
  .page-after-try .after-slide-image-wrapper550,
  .after-quest .after-slide-image-wrapper550{
    width: 100% !important;
    height: 250px !important;
  }
  .page-stsenarii .after-slide img,
  .page-dop-obor .after-slide img,
  .page-after-try .after-slide img,
  .after-quest .after-slide img{
    width: 100%;
    height: 100%;
  }
  .after-quest .after-slide{
    min-height: auto;
  }
.page-stsenarii.after-quest .after-slide, .pade-slider-it.after-quest .after-slide{
  min-height: 400px;
}
.page-dop-obor.after-quest.page-mesta .after-slide{
  min-height: 500px;
}
.page-dop-obor-slider-basket-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto;
  height: auto;
}
.page-dop-obor-slider-basket-btn{
  grid-column: 1/3;
  width: 50%;
  margin: 0 auto;
}
  .page-after-try .slider-wrapper .btn-wrapper{
    margin-top: 20px !important; 
    align-items: center;
  }
  
  .page-dop-obor-slider-basket-price,
  .page-dop-obor-slider-basket-wrapper label, 
  .page-dop-obor-slider-basket-wrapper input{
    font-size: 16px;
  }
  .link-see-all,
  .page-slider-video-section-title a{
    font-size: 14px !important;
    gap: 5px;
  }
  .after-quest svg{
    width: 10px;
    height: 10px;
  }
   .page-food svg, .page-delivery svg,
   .page-price-section-accordion-section-name svg{
    width: 15px;
    height: 15px
   }
  .after-slider-buttons-wraper .swiper-button-next, .after-slider-buttons-wraper .swiper-button-prev,
  .after-slider-vip-buttons .swiper-button-next, .after-slider-vip-buttons .swiper-button-prev, .faq-slider-controls .swiper-button-next, .faq-slider-controls .swiper-button-prev, .book-slider-buttons .swiper-button-next, .book-slider-buttons .swiper-button-prev{
        width: 26px;
    height: 26px;
  }
  .after-slider-buttons-wraper .swiper-button-prev, .swiper-rtl .swiper-button-next,
  .after-slider-vip-buttons .swiper-button-prev, .swiper-rtl .swiper-button-next, .faq-slider-controls .swiper-button-prev, .swiper-rtl .swiper-button-next, .book-slider-buttons .swiper-button-prev, .swiper-rtl .swiper-button-next{
    right: 50px;
    left: auto;
  }
  .page-slider-video-section-links{
    white-space: normal;
  }
  .page-contacts-section h3,
  .page-contacts-section h2,
  .page-price h2{
     text-align: center !important;
  }
  h2,
  .main-faq-slider-title h2,
  h2.main-korporativ-text-block-tittle,
  h2.main-den-rozhdeniya-text-block-tittle,
  .promotions-title,
  .page-slider-video-section-title h2,
  .pade-slider-it h2,
  .quad-features-title,
  .after-quest h2,
  .booking-section h2,
  .booking-info h3,
  .section-title,
  .page-delivery h2,
  .page-food h2,
  .after-quest h2,
  footer .footer-social-links-wrapper h3,
  .page-contacts-section h2,
  .menu-page-title,
  .page-price h2  {
    font-size: 24px !important;
    line-height: 28px;
    white-space: normal;
    padding: 0 clamp(10px, calc(3.906vw + -2.50px), 20px);
    margin-bottom: 10px;
  }
  .page-ekipirovka-description,
  .promotions-description,
  .page-complex h3,
  .after-quest h3,
  .quad-features-subtitle,
  .page-interest-banner p,
  .page-programs-grid-item h3,
  .page-price-section-description
{
    font-size: 20px;
    padding: 0 clamp(10px, calc(3.906vw + -2.50px), 20px);
    line-height: normal;
  }
.page-price-section-accordion-section h4{
  font-size: 18px;
  line-height: normal;
}
  .quad-features-subtitle, .quad-features-grid, .quad-features-more,
  .page-food-wrapper-left-link.d-none1920,
  .page-delivery-title,
  .page-delivery-list,
  .page-delivery-list-2,
  .page-food-wrapper-left-title,
  .page-food-wrapper-left-descrittion,
  .page-dop-obor-title p,
  .page-price-section-accordion-title{
    padding: 0 clamp(10px, calc(3.906vw + -2.50px), 20px);
    font-size: 16px;
  }
  .page-ekipirovka-description-two,
  .page-ekipirovka-img-text-wrapper p,
  .swiper-slide-page-video-text,
  .quad-feature-card p,
  .page-delivery-title,
  .page-delivery-list,
  .page-delivery-list-2,
  .page-food-wrapper-left-title,
  .page-food-wrapper-left-descrittion,
  .after-slider-buttons-wraper p,
  .page-dop-obor-title p,
  .page-price-section-accordion-title,
  .banner-top .page-banner-price,
  .banner-top .page-banner-price-description {
    line-height: normal;
  }
  .kvest-thumb-swiper-preview-text{
    font-size: clamp(11px, calc(1.172vw + 7.25px), 14px);
  }
  /**/
  .kvest-banner-buttons .button-not-background,
  .kvest-banner-buttons .buttons-size170,
  
  .main-korporativ-text-block-button-wrapper .button-border-style,
  .menu-page-description,
  .page-food-wrapper-left-link, .page-food-wrapper-left-link a,
  .page-interest-banner a,
  .after-slider-buttons-wraper,
  .page-dop-obor-btn-text-one,
  .page-dop-obor-btn-text-two,
  .slide-description {
    font-size: 14px !important;
  }
  .main-korporativ-text-block-button-wrapper,
  .main-den-rozhdeniya-text-block-button-wrapper {
    justify-content: flex-start;
  }
  .kvest-banner-buttons .buttons-size170 {
    width: 120px;
    height: 40px;
  }
  /*flex-direction: column;*/
  .main-korporativ-text-block-button-wrapper,
  .main-den-rozhdeniya-text-block-button-wrapper,
  .footer-contact-bottom-wrapper,
  .footer-contact-bottom-wrapper-column-two,
  .footer-contact-top,
  .page-phone-basket {
    flex-direction: column;
  }
  /* gap: 10px*/
  .kvest-banner-buttons,
  .main-korporativ-text-block-button-wrapper,
  .main-den-rozhdeniya-text-block-button-wrapper,
  .footer-contact-bottom-wrapper-column-two,
  .footer-contact-top,
  .footer-contact-bottom-wrapper,
  .page-phone-basket {
    gap: 10px;
  }
  .kvest-banner-buttons .button-not-background {
    padding: 5px 10px;
  }
  .kvest-thumb-swiper-preview-text {
    bottom: -20%;
  }
  /**/
  .kvest-main-swiper {
    height: 350px;
  }
  .kvest-banner-content-title {
    font-size: 24px;
    line-height: 100%;
  }
  .kvest-banner-content {
    top: 70%;
  }
  .kvest-thumb-swiper .swiper-slide {
    height: 150px;
  }
  /**/
  .main-faq-slider-title {
    display: block;
    text-align: center;
    padding: 0 10px 35px;
  }
  
  /**/
  .footer-contact-bottom-wrapper,
  .footer-contact-bottom-wrapper-column-two,
  .footer-contact-top {
    justify-content: center;
    align-items: flex-start;
  }
  .footer-contact-bottom-wrapper-column-tree {
    position: static;
  }
  .footer-contact-bottom {
    font-size: 11px;
  }
  .footer-contact-bottom-wrapper-column-two p {
    display: none;
  }
  footer .footer-social--links {
    gap: 0;
    flex-wrap: wrap;
  }

  footer .footer-social-links-wrapper h3 {
    line-height: 100%;
    padding: 15px 0;
    margin: 0;
  }
  /**/
  .slide-caption {
    font-size: 30px;
  }
  /**/
  .main-den-rozhdeniya {
    padding-top: 420px;
  }
  h2.main-korporativ-text-block-tittle,
  h2.main-den-rozhdeniya-text-block-tittle {
    font-size: 24px;
  }
  .main-korporativ {
    padding-left: 0;
  }
  .main-korporativ-text-block,
  h2.main-korporativ-text-block-tittle {
    text-align: center;
  }
  /**/
  .mySwiperNEWS .swiper-slide,
  .mySwiperNEWS .swiper-slide img{
    width: clamp(300px, calc(55.804vw + 121.43px), 550px) !important;
  }
.page-phone-basket{
  width: 100%;
}
.page-phone-basket-basket, .page-phone-basket-phone{
  width: 320px;
}
  .mySwiperNEWS .swiper-slide img {
    height: clamp(312px, calc(22.321vw + 240.57px), 412px);
  }
  /*Тактичсекие игры*/
  .header-dop {
    padding: 10px;
  }
  .header-dop,
  .header-dop-anchor {
    gap: 5px;
    height: auto;
    flex-wrap: wrap;
  }
  .header-dop-anchor {
    align-items: baseline;
  }
  /**/
  .banner-top-description {
   bottom: 31%;
  }
  .banner-top-buttons-wrapper {
    bottom: clamp(80px, calc(130px - (50 * ((100vw - 320px) / 256))), 130px);
  }
  .banner-top .page-banner-price-description {
    bottom: 0;
    font-size: clamp(14px, calc(1.172vw + 10.25px), 17px);
  }
  .banner-top .page-banner-price{
    bottom: 60px;
  }
  .banner-top.liner.page-banner-one .page-banner-price{
    line-height: normal;
    bottom: 40px;
  }
  .page-slider-video-section-title{
    align-items: baseline;
  }
  .page-phone-basket {
    padding: 20px;
  }
  /**/
  .booking-section{
    padding: 20px 0;
  }
  .booking-wrapper{
    margin: 10px 0;
  }
  .book-slider-horizontal{
   width: clamp(300px, calc(55.804vw + 121.43px), 550px) !important;
    height: 500px !important;
  }
  .vertical-slider {
    display: none;
  }
  .booking-sliders {
    padding-bottom: 20px;
  }
  .booking-sliders,
  .booking-info{
    width: 100% !important;
    height: auto !important;
  }
  .booking-info select,
  .booking-info input,
  .booking-info-price-block span,
  .booking-info button{
    width: 50%;
    height: auto !important;
  }
  .booking-info{
    padding: 20px !important;
  }

  .booking-info label p,
  .booking-info input, .booking-info select, .booking-info-price-block span,
  .booking-info-price-block,
  #total-price,
  .booking-info button{
    font-size: 16px;
  }

  /**/
  .promotions-description {
    padding: 0;
        margin: 0;
  }
  .promo-card-right img{
    max-height: 200px;
  }
  .page-ekipirovka-img-text-wrapper{
    max-width: clamp(320px, calc(100.000vw + 0.00px), 576px);
    justify-content: flex-start;
    align-items: flex-start;
    min-height: clamp(500px, calc(117.188vw + 125.00px), 800px);
  }
  .ekipirovka-img-two{
    margin-top: 30%;
  }
  .page-ekipirovka-img-text-wrapper img{
    width: 100%;
  }
  .page-ekipirovka-img-text-wrapper p{
    bottom: 0;
    font-size: 17px;
  }
  /**/
  .page-ekipirovka{
    padding: 10px;
  }

  .page-ekipirovka-description-two{
    font-size: 18px;
  }
  /**/ 
  .swiper-slide-page-video{
    height: 400px;
  }
  .swiper-slide-page-video-text{
    font-size: 18px;
    top: 20px;
    margin: 0 10px;
    padding: 10px;
  }
  .prev-button-page-video, .next-button-page-video{
    height: 420px;
  }
  .slider-wrapper-page-video .swiper-button-prev img, .slider-wrapper-page-video .swiper-button-next img{
    height: 150px;
  }
  .quad-features-grid{
    gap: 10px;
    padding: 10px 20px;
  }
  .quad-feature-card p{
    font-size: 16px;
  }
  .quad-feature-card-img{
    max-width: clamp(66px, calc(11.719vw + 28.50px), 96px);
    height:  clamp(66px, calc(11.719vw + 28.50px), 96px);
  }
  .quad-feature-card:nth-child(3){
    margin-top: 0;
  }
  /**/ 
  .page-food-wrapper-left-image{
    width: 250px;
        height: 200px;
  }
  .page-food-wrapper-left{
    margin: 0;
  }
  .page-food-wrapper-right,
  .page-food-wrapper-left-link.d-none1920,
  .page-food-wrapper-left-descrittion{
    margin-top: 0;
  }

  .toggle-wrapper{
    margin-left: 0;
    padding: 0;

  }
  .toggle-button{
    font-size: 11px;
    padding: 5px;
    width: auto;
  }
  .base-swiper .swiper-slide,
  .swiper-slide.interest-slide,
  footer,
  footer .footer-wrapper,
  .page-food-wrapper-left-link.d-none1920,
  .page-delivery,
  .page-delivery-right{
    max-width: clamp(320px, calc(100.000vw + 0.00px), 576px) !important;
  }
  .page-delivery-right{
text-align: center;
  }
.page-dop-obor-btn-text{
  gap: 5px;
}
  /**/ 
  .page-dop-obor,
  .promotions-section{
    padding: 0;
  }
  .page-dop-obor-title{
    gap: 10px;
  }
  .promotion-card{
    width: 100%;
  }
  /**/ 
  .page-interest-banner{
    height: 350px;
  }
  .page-interest-banner p{
    left: 3%;
  }
  .page-interest-banner .buttons-size170 {
    width: 120px;
    height: 40px;
  }
.page-interest-slider{
  padding-top: 20px;
}
.interest-slide-list{
padding: 0 10px;
}
.after-slider-buttons-wraper p{
  text-align: left;
  max-width: 80%;
}
.page-interest-sliders .after-slider-buttons-wraper, 
.page-dop .after-slider-buttons-wraper, 
.page-price.page-programs .after-slider-buttons-wraper,
.page-after-try .slider-wrapper .slide-description, 
.page-after-try .swiper-slide .slide-header,
.main-faq-slider-title,
.page-interest-sliders .after-slider-buttons-wraper, .page-dop .after-slider-buttons-wraper, .page-price.page-programs .after-slider-buttons-wraper{
  padding: 0 20px;
}
.page-delivery-left{
  text-align: left;
}
.page-delivery-list,
.page-delivery-list-2{
  margin-left: 10px;

}
.page-dop-obor .slide-header, .page-dop-obor .slide-description, .page-dop-obor .page-dop-obor-slider-basket-wrapper{
  padding-left: 0;
}
.page-dop-obor-slider-basket-btn{
  margin-top: 20px;

}
  /**/
  .cards-container,
  .promotions-grid,
  .page-contacts {
    grid-template-columns: 1fr;
  }
  /**/
  .footer-content h2{
    font-size: 12px !important;
    line-height: 100%;
  }
  .page-dop-obor-btn-text{
    margin-top: 0;
  }
  .after-slider-buttons-wraper{
    margin-top: 20px;
  }
  /**/
  .page-price{
    padding: 10px;
  }
  .page-price-section-tactical, .page-price-section-kvest{
    padding: 10px;
  }
  .bac-grey .horizontal-slider .book-slider-horizontal{
   width:  clamp(280px, calc(93.750vw + -20.00px), 520px) !important;
  }
  .menu-page-image{
    max-width: 448px;
    height: auto;
  }
}






